<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<!--====== sem cache ========-->
  <%= render @product %>

<!-- ====== com cache fragment ========-->
<%# cache @product do %>
  <%#= render @product %>
<%# end %>